body{
    font-family: system-ui;
}
header{
    background-color: #e4e4e8;
    padding-top: 60px;
    padding-bottom: 18px;
    box-shadow: 0 7px 8px -3px grey;
    position: fixed;
    width: 100%;
    margin-top: -10px;
    z-index: 99;
}
.container{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
.header-section{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}
.header-section div{
    position: relative;
}
.header-section p{
    position: absolute;
    top: -24px;
    right: -8px;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: black;
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}
.logo{
    width: 164px;
    height: 84px;
    cursor: pointer;
}
.login{
    display: flex;
    width: 200px;
    height: 300px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: grey;
}

.usuario{
    text-align: center;
    justify-content: flex-end;
}
.password{
    text-align: center;
    justify-content: flex-end;
}
.cart{
    width: 39px;
    height: 38px;
}
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}
/*end header*/
.products{
    padding-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carts{
    max-width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 34px;
    margin-bottom: 40px;
}
.carts img{
    width: 100%;
}
.carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: rgb(83, 80, 80);
    color: white;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{
    font-family: system-ui;
    text-decoration: none;
    background: rgb(83, 80, 80);
    padding: 9px 23px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.carts a:hover{
    background: #fff;
    color: black;
    border: solid 2px rgb(83, 80, 80);
    transition-duration: .3s;
}

/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgb(83, 80, 80);
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: rgb(83, 80, 80);
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}
p.author {
    display: flex;
    justify-content: center;
    FONT-VARIANT: JIS04;
    margin-top: 3%;
    gap: 7px;
}
p.author a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 60px;
}

.divFootNavegacion {
    padding-bottom: 20px;
}
.divFootNavegacion h3 {
    font-size: 24px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}
.divFootNavegacion li {
    text-decoration: none;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.divFootNavegacion a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.divFootPagos {
    text-align: center;
    padding-bottom: 30px;
    list-style-type: none;
}
.divFootPagos h3 {
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}
.divFootPagos div {
    margin: 5px 10px 5px 5px;
}
.divFootPagos i {
    font-size: 30px;
    padding: 5px 10px 5px 5px;
}

.divFootRedes {
    padding-bottom: 30px;
    text-align: center;
    list-style-type: none;
}
.divFootRedes h3 {
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}
.divFootRedes a {
    font-size: 30px;
    padding: 10px 10px;
    color: white;
}

.footerDiv {
    align-items: center;
    list-style-type: none;
}

.newsletterFont {
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
}

.newsletter {
    align-content: center;
}

.inputStyle2 {
    background-color: transparent;
    border-bottom: 1px solid white;
    border-radius: 50px;
    height: 30px;
    width: 150px;
    font-size: 16;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}